<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Fullstack Developer Frontend</title>
    <link rel="stylesheet" href="assets/vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendor/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="assets/vendor/js/jquery-3.5.1.slim.min.js" defer></script>
    <script src="assets/vendor/js/popper.min.js" defer></script>
    <script src="assets/vendor/js/bootstrap.bundle.min.js" defer></script>
  </head>

  <body>
    <section id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 left-wrapper">
          <div class="flag-wrapper">
            <div class="flag">
              <i class="fa fa-tag"></i>
            </div>
          </div>
          <p>Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]</p>
        </div>

        <div class="col-md-6 text-right right-wrapper">
          <a href="#">
            <i class="fa fa-phone"></i> <span>0274-5305505</span>
          </a>
          <a href="#">
            <img src="assets/svg/chat-bubbles_icon-icons.com_72817.svg"> <span>Live Chat</span>
          </a>
          <a href="#">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <span>Member Area</span>
          </a>
        </div>
    </div>
    </section>

    <!-- NAVIGATION -->
    <nav
      class="
        navbar
        sticky-top
        navbar-expand-xl navbar-light
        border-top border-bottom
      "
    >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" height="54px" alt="" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Hosting <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Domain</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Server</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Afiliasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pembayaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Review</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontak</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- EOF NAVIGATION -->

    <!-- HEADER -->
    <header class="header-wraper border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 header-left">
            <h1>PHP Hosting</h1>
            <h2 class="mb-4">
              Cepat, handal, penuh dengan modul PHP yang Anda butuhkan
            </h2>
            <div>
              <ul>
                <li class="mb-2">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Solusi PHP untuk performa query yang lebih cepat.
                </li>
                <li class="mb-2">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Konsumsi memory yang lebih rendah.
                </li>
                <li class="mb-2">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Support PHP 5.3, PHP 5.4, PHP 5.6, PHP 7.
                </li>
                <li class="mb-2">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Fitur enkripsi IonCube dan Zend Guard Loaders.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 header-right">
            <div class="banner-wrapper">
              <img
                class="banner-ilustration"
                src="assets/svg/illustration%20banner%20PHP%20hosting-01.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- EOF HEADER-->

    <!-- SECTION 1 -->
    <section id="section-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-3 mb-3 mb-lg-0">
            <div class="img-wrapper mb-2">
              <embed
                class="mb-5"
                src="assets/svg/illustration-banner-PHP-zenguard01.svg"
              />
            </div>
            <div class="description">PHP Zend Guard Loader</div>
          </div>
          <div class="col-md-3 mb-3 mb-lg-0">
            <div class="img-wrapper mb-2">
              <embed class="mb-2" src="assets/svg/icon-composer.svg" />
            </div>
            <div class="description">PHP Composer</div>
          </div>
          <div class="col-md-3 mb-3 mb-lg-0">
            <div class="img-wrapper mb-2">
              <embed
                class="mb-5"
                src="assets/svg/icon-php-hosting-ioncube.svg"
              />
            </div>
            <div class="description">PHP ionCube Loader</div>
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="section-2">
      <div class="container">
        <h1 class="text-center">Paket Hosting Singapura yang Tepat</h1>
        <h2 class="text-center">
          Diskon 40% + Domain dan SSL Gratis untuk Anda
        </h2>
        <div class="price-list">
          <div class="row">
            {% for item in arrPacket %}
              {% if item.bestSeller == true %}
              <div class="col-sm-6 col-lg mb-5 mb-sm-3 mb-lg-0 ml-sm-0 ml-3 mr-sm-0 mr-3 price-wrapper best-price">
              {% else %}
              <div class="col-sm-6 col-lg mb-5 mb-sm-3 mb-lg-0 ml-sm-0 ml-3 mr-sm-0 mr-3 price-wrapper">
              {% endif %}
            
              <div class="price-header with-border">
                <h1 class="text-center">{{ item.title }}</h1>
              </div>
              <div class="price-total with-border">
                <div class="normal-price">Rp. {{ item.normalPriceFormat }}</div>
                <div class="special-price">
                  <span class="text-rp">Rp.</span>
                  {% for key, specialItem in item.specialPriceArray %} {% if
                  key== 0 %}
                  <strong class="grow-number">{{ specialItem }}</strong>
                  {% else %}
                  <strong class="text-bold text-restnum">.{{ specialItem }}</strong>
                  {% endif %} {% endfor %}
                  <span>/ {{ item.priceDuration }}</span>
                </div>
              </div>
              <div class="price-regist with-border">
                <strong>{{ item.totalRegisteredFormat }}</strong> Pengguna Terdaftar
              </div>
              <div class="price-detail with-border">
                <ul>
                {% for detailitem in item.detail %}
                  {% if detailitem == "star" %}
                  <li>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                    <i class="fa fa-star text-primary"></i>
                  </li>
                  {% else %}
                  <li><strong>{{detailitem.strong}}</strong> {{detailitem.normal}}</li>
                  {% endif %}
                {% endfor %}
                </ul>

                {% if item.bestSeller == true %}
                <a href="#" class="btn btn-outline-primary btn-pilih btn-md mb-5">
                  Pilih Sekarang
                </a>
                {% else %}
                <a href="#" class="btn btn-outline-dark btn-pilih btn-md mb-5">
                  Pilih Sekarang
                </a>
                {% endif %}
              </div>

              {% if item.bestSeller == true %}
              <div class="ribbon ribbon-top-left">
                <span class="effect2">BEST SELLER!</span>
                <div class="shadow-wrapper">
                  <div class="shadow-left">
                  </div>
                  <div class="shadow-right">
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 2-->

    <!-- SECTION 3 -->
    <section id="section-3">
      <div class="container">
        <h2 class="text-center">Powerful dengan limit PHP yang lebih besar</h2>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div>
              <div class="content-item">
                <span class="fa-stack mr-2">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">max execution time 300s</div>
              </div>
              <div class="content-item item-fill">
                <span class="fa-stack mr-2">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">max execution time 300s</div>
              </div>
              <div class="content-item">
                <span class="fa-stack mr-2">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">php memory limit 1028MB</div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div>
              <div class="content-item">
                <span class="fa-stack mr-2">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">post max size 128 MB</div>
              </div>
              <div class="content-item item-fill">
                <span class="fa-stack mr-2">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">upload max filesize 128 MB</div>
              </div>
              <div class="content-item">
                <span class="fa-stack mr-2">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">max input vars 2500</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="section-4">
      <div class="container">
        <h2 class="text-center">Semua Paket Hosting Sudah Termasuk</h2>

        <div class="row">
          <div class="col-sm-4 item-wrapper">
            <img
              src="assets/svg/icon%20PHP%20Hosting_PHP%20Semua%20Versi.svg"
            />
            <h3>PHP Semua Versi</h3>
            <p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
          </div>

          <div class="col-sm-4 item-wrapper">
            <img src="assets/svg/icon%20PHP%20Hosting_My%20SQL.svg" />
            <h3>MySQL Versi 5.6</h3>
            <p>Nikmat MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
          </div>
          <div class="col-sm-4 item-wrapper">
            <img src="assets/svg/icon%20PHP%20Hosting_CPanel.svg" />
            <h3>Panel Hosting cPanel</h3>
            <p>
              Kelola website dengan cpanel canggih yang falimiar dihati Anda.
            </p>
          </div>
        </div>
        <div class="row mt-md-5">
          <div class="col-sm-4 item-wrapper">
            <img src="assets/svg/icon%20PHP%20Hosting_garansi%20uptime.svg" />
            <h3>Garansi Uptime 99.9%</h3>
            <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
          </div>
          <div class="col-sm-4 item-wrapper">
            <img src="assets/svg/icon%20PHP%20Hosting_InnoDB.svg" />
            <h3>Database InnoDB Unlimited</h3>
            <p>Jumlah dan ukuran Database yang tumbuh sesuai kebutuhan Anda.</p>
          </div>
          <div class="col-sm-4 item-wrapper">
            <img src="assets/svg/icon%20PHP%20Hosting_My%20SQL%20remote.svg" />
            <h3>Wildcard Remote MySQL</h3>
            <p>Mendukung s/d 25 max_user_connection dan 100 max_connection</p>
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 4 -->

    <!-- SECTION 5 -->
    <section id="section-5" class="border-bottom mb-5">
      <div class="container">
        <h2 class="text-center">Mendukung Penuh Framework Laravel</h2>
        <div class="row">
          <div class="col-lg-6">
            <p class="lead-text mb-4">
              Tak perlu menggunakan dedicated server ataupun VPS yang mahal.
              Layanan PHP hosting murah kami mendukung penuh framework favorit
              Anda
            </p>
            <div>
              <ul class="mb-4">
                <li class="mb-3">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Install Laravel <strong>1 klik</strong> dengan Softaculous
                  Installer.
                </li>
                <li class="mb-3">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Mendukung extensi
                  <strong>PHP MCrypt, phar, mbstring, json,</strong> dan
                  <strong>fileinfo.</strong>
                </li>
                <li class="mb-3">
                  <span class="fa-stack mr-2">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  Tersedia <strong>Composer</strong> dan
                  <strong>SSH</strong> untuk menginstall packages pilihan Anda.
                </li>
              </ul>
              <p class="nb-text mb-4">
                Nb. Composer dan SSH hanya tersedia pada paket Personal dan
                Bisnis
              </p>
              <a href="#" class="btn btn-primary btn-lg pilih-hosting mb-3"
                >Pilih Hosting Anda</a
              >
            </div>
          </div>
          <div class="col-lg-6 img-wrapper">
            <img
              src="assets/svg/illustration%20banner%20support%20laravel%20hosting.svg"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 5-->

    <!-- SECTION 6 -->
    <section id="section-6">
      <div class="container">
        <h2 class="text-center">
          Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.
        </h2>
        <div class="row">
          {% for arrItem in arrModul %}
          <div class="col-lg-3 col-6">
            <ul class="pl-0 pl-md-5 ml-0 ml-md-1 ml-lg-5">
              {% for item in arrItem %}
              <li>{{item}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-outline-dark btn-lg btn-selengkapnya">
            Selengkapnya
          </a>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 6 -->

    <!-- SECTION 7 -->
    <section id="section-7">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h2>Linux Hosting yang Stabil <br />dengan Teknologi LVE</h2>
            <p>
              SuperMicro <strong>Intel Xeon 24-Core</strong> server dengan RAM
              <strong>128 GB</strong> dan teknologi
              <strong>LVE CloudLinux</strong> untuk kestabilan server Anda.
              Dilengkapi dengan <strong>SSD</strong>
              untuk kecepatan MySQL dan caching. Apache load balancer berbasisi
              LiteSpeed Technologies,
              <strong>CageFS</strong> Security,
              <strong>Raid-10</strong> protection dan auto backup untuk keamanan
              sebsite PHP anda.
            </p>

            <a href="#" class="btn btn-primary btn-lg pilih-hosting mb-5">
              Pilih Hosting Anda
            </a>
          </div>
          <div class="col-md img-support-wrapper">
            <img src="assets/images/Image%20support.png" />
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 7 -->

    <!-- SECTION 8 -->
    <section id="section-8">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="keterangan">
              Bagikan jika Anda menyukai halaman ini.
            </div>
          </div>
          <div class="col-md-6">
            <div class="social-media">
              <div class="item-wrapper mr-2 mt-sm-0 mt-2">
                <a href="">
                  <img src="assets/svg/facebook.svg" />
                </a>
                <span>80k</span>
              </div>
              <div class="item-wrapper mr-2 mt-sm-0 mt-2">
                <a href="">
                  <img src="assets/svg/twitter.svg" />
                </a>
                <span>450</span>
              </div>
              <div class="item-wrapper mr-2 mt-sm-0 mt-2">
                <a href="">
                  <img src="assets/svg/google-plus.svg" />
                </a>
                <span>1900</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- EOF SECTION 8 -->

    <!-- SECTION 9 -->
    <div id="section-9">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <p>
              Perlu <strong>BANTUAN?</strong> Hubungi Kami:
              <strong>0274-5305505</strong>
            </p>
          </div>
          <div class="col-md-3 chat-wrapper">
            <div class="content-item">
              <a class="btn btn-chat">
                <img src="assets/svg/chat-bubbles_icon-icons.com_72817.svg" />
                Live Chat
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- EOF SECTION 9 -->

    <footer class="pb-5 pt-lg-3">
      <div class="container">
        <div class="row">
          <div class="col-lg col-md-6 mt-5">
            <h3>HUBUNGI KAMI</h3>
            <ul>
              <li>0274-5305505</li>
              <li>Senin - Minggu</li>
              <li>24 Jam Nonstop</li>
            </ul>
            <br />
            <p>
              Jl. Selokan Mataram Monjali <br />
              Karangjati MT I/304<br />
              Sinduadi, Mlati, Sleman<br />
              Yogyakarta 55284
            </p>
          </div>
          <div class="col-lg col-md-6 mt-5">
            <h3>LAYANAN</h3>
            <ul>
              <li><a href="#">Domain</a></li>
              <li><a href="#">Shared Hosting</a></li>
              <li><a href="#">Cloud VPS Hosting</a></li>
              <li><a href="#">Managed VPS Hosting</a></li>
              <li><a href="#">Web Builder</a></li>
              <li><a href="#">Keamanan SSL / HTTPS</a></li>
              <li><a href="#">Jasa Pembuatan Website</a></li>
              <li><a href="#">Program Affiliasi</a></li>
            </ul>
          </div>
          <div class="col-lg col-md-6 mt-5">
            <h3>SERVICE HOSTING</h3>
            <ul>
              <li><a href="#">Hosting Murah</a></li>
              <li><a href="#">Hosting Indonesia</a></li>
              <li><a href="#">Hosting Singapura SG</a></li>
              <li><a href="#">Hosting PHP</a></li>
              <li><a href="#">Hosting Wordpress</a></li>
              <li><a href="#">Hosting Laravel</a></li>
            </ul>
          </div>
          <div class="col-lg col-md-6 mt-5">
            <h3>TUTORIAL</h3>
            <ul>
              <li><a href="#">Knowledge</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Cara Pembayaran</a></li>
            </ul>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-lg-3 col-md-6 mt-5">
            <h3>TENTANG KAMI</h3>
            <ul>
              <li><a href="#">Tim Niagahoster</a></li>
              <li><a href="#">Karir</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Penawaran & Promo Spesial</a></li>
              <li><a href="#">Kontak Kami</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mt-5">
            <h3>KENAPA PILIH NIAGAHOSTER?</h3>
            <ul>
              <li><a href="#">Support Terbaik</a></li>
              <li><a href="#">Garansi Termurah</a></li>
              <li><a href="#">Domain Gratis Selamanya</a></li>
              <li><a href="#">Datacenter Hosting Terbaik</a></li>
              <li><a href="#">Review Pelanggan</a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-12 mt-5">
            <h3>NEWSLETTER</h3>
            <div class="row">
              <div class="col-md newsletter">
                <div class="input-wrapper">
                  <input type="email" name="email" placeholder="Email" />
                  <button type="button">Berlangganan</button>
                </div>
                <p class="mb-3">
                  Dapatkan promo dan konten menarik dari penyedia hosting
                  terbaik anda.
                </p>
              </div>
              <div class="col-md social-media">
                <a href="#" class="btn">
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 mt-5 pembayaran-wrapper">
            <h3>PEMBAYARAN</h3>

            <div class="bank-logo">
              <img src="assets/svg/bca.svg" class="img-thumbnail" alt="..." />
              <img
                src="assets/svg/mandiri.svg"
                class="img-thumbnail"
                alt="..."
              />
              <img src="assets/svg/bni.svg" class="img-thumbnail" alt="..." />
              <img src="assets/svg/visa.svg" class="img-thumbnail" alt="..." />
              <img
                src="assets/svg/mastercard-2.svg"
                class="img-thumbnail"
                alt="..."
              />
              <img
                src="assets/svg/atm-bersama.svg"
                class="img-thumbnail"
                alt="..."
              />

              <img
                src="assets/svg/iconfinder_Permata_2425815.svg"
                class="img-thumbnail"
                alt="..."
              />

              <img
                src="assets/svg/prima-edit.svg"
                class="img-thumbnail atm-bersama"
                alt="..."
              />

              <img src="assets/svg/alto.svg" class="img-thumbnail" alt="..." />
            </div>
            <p>
              Aktivasi instan dengan e-Payment Hosting dan domain langsung
              aktif!
            </p>
          </div>
          <div class="col-sm-12 copyright-wrapper mt-5">
            <div class="row">
              <div class="col-md-9">
                <p class="pt-3">
                  Copyright &copy;2016 Niagahoster | Hosting powered by PHP7,
                  CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage
                  Jakarta<br />
                  Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and
                  cloud computing technology
                </p>
              </div>
              <div class="col-md-3">
                <div class="pt-3 text-right">
                  <a href="#">Syarat dan Ketentuan</a> |
                  <a href="#">Kebijakan Privasi</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
